* {
	box-sizing: border-box;
}

body {
	background-color: #F2F2F2;
	margin: 0;
}

p {
	margin: 0;
	text-align: center;
	padding-bottom: 5px;
}

html {
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin: 20px auto auto auto;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: white
}

th {
	background-color: #B3D92B;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

header {
	background-color: #63B0F2;
	color: white;
	padding: 20px;
}

.content {
	width: calc(100% - 150px);
	height: calc(100% - 160px);
	left: 150px;
	position: absolute;
}

footer {
	background-color: #63B0F2;
	color: white;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	padding: 10px;
}

.sidebar {
	height: 100%;
	width: 150px;
	position: fixed;
	background-color: #404040;
	padding-top: 150px;
	opacity: 0.8;
	top: 0;
	z-index: -1;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s
}

.sidebar a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

td input {
	display: block;
	padding: 10px;
	width: 100%;
	margin: 5px 10px 20px 0px;
}

.login-form {
	background-color: white;
	width: 400px;
	padding: 20px;
	margin: 10% auto;
	border: 1px dotted gray;
}

.login-form input {
	display: block;
	padding: 10px;
	width: 100%;
	margin: 5px 10px 20px 0px;
}

.login-form input.button {
	background-color: #3079D9;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	outline: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.login-form input.button:active {
	box-shadow: 0 0 0 0;
}

.control-button {
	background-color: #3079D9;
	border: none;
	color: white;
	padding: 10px 20px;
	margin: auto 20px auto auto;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	outline: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.control-button:active {
	box-shadow: 0 0 0 0;
}

.control-button:hover, .control-button:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.control-panel {
	border-collapse: collapse;
	width: 90%;
	margin: 20px auto auto auto;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modal p {
	font-size: 20px;
}

.modal-content form {
	background-color: white;
	width: 400px;
	padding: 20px;
	margin: 10% auto;
	border: 1px dotted gray;
}

.modal-content form input {
	display: block;
	padding: 10px;
	width: 100%;
	margin: 5px 10px 20px 0px;
}

.modal-content form input.button {
	background-color: #3079D9;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	outline: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.mainselection select {
	/* border: 10;
   color: #c0c0c0;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none; */
	
	border: 1px;
	color: #c0c0c0;
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 10px;
	margin: 10px;
	width: 450px;
	*width: 350px;
	*background: #58B14C;
	-webkit-appearance: none;
}

.mainselection {
	margin: auto;
	width: 50%;
	overflow: hidden;
	width: 350px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
	box-shadow: 1px 1px 11px #330033;
	background: #3079D9 url("http://i62.tinypic.com/15xvbd5.png") no-repeat
		scroll 319px center;
}